## Settings file was created by plugin Bandit Reloaded v2 v2.2.2
## Plugin GUID: com.Moffein.BanditReloaded_v2

[01 - General Settings]

## Makes Bandit auto-reload his primary when using other skills.
# Setting type: Boolean
# Default value: true
Enable Passive = true

## Enables the unused Smokebomb entry animation.
# Setting type: Boolean
# Default value: false
Use Cloak Anim = false

## Use the unused cloak skill in the game files. This makes Bandit able to use Smokebomb when playing with a host that doesn't have the mod, but may interfere with mods that rely on the unused cloak skill.
# Setting type: Boolean
# Default value: false
Use Vanilla Cloak = false

## Uses the unused Bandit-specific crosshair.
# Setting type: Boolean
# Default value: true
Use Alt Crosshair = true

## Uses Bandit's RoR1 ending.
# Setting type: Boolean
# Default value: false
Use RoR1 Outro = false

## Enables the Assassinate Utility skill. This skill was disabled due to being poorly coded and not fitting Bandit's kit, but it's left in in case you want to use it. This skill can only be used if Assassinate is enabled on the host.
# Setting type: Boolean
# Default value: false
Enable unused Assassinate utility* = false

[10 - Primary - Blast]

## How much damage Blast deals.
# Setting type: Single
# Default value: 2.5
Damage = 2.5

## Time between shots.
# Setting type: Single
# Default value: 0.3
Fire Rate = 0.25

## How soon you can fire another shot if you mash.
# Setting type: Single
# Default value: 0.2
Min Duration = 0.2

## Allow Blast to be fired on an empty mag.
# Setting type: Boolean
# Default value: true
Enable Dryfire = true

## Time between shots on an empty mag.
# Setting type: Single
# Default value: 0.5
Dryfire Duration = 0.5

## Shots pierce enemies.
# Setting type: Boolean
# Default value: true
Penetrate Enemies = true

## How wide Blast's shots are.
# Setting type: Single
# Default value: 0.4
Shot Radius = 0.4

## Push force per shot.
# Setting type: Single
# Default value: 600
Force = 600

## Amount of spread with added each shot.
# Setting type: Single
# Default value: 0
Spread = 0

## Amount of spread with added each shot when mashing.
# Setting type: Single
# Default value: 0.4
Mash Spread = 0.4

## How hard the gun kicks when shooting.
# Setting type: Single
# Default value: 1.4
Recoil = 1.4

## How far Blast can reach.
# Setting type: Single
# Default value: 250
Range = 250

## Shots deal less damage over range.
# Setting type: Boolean
# Default value: true
Use Falloff = true

## How many shots can be fired before reloading.
# Setting type: Int32
# Default value: 8
Stock = 8

## How long it takes to reload. Set to 0 to disable reloading.
# Setting type: Single
# Default value: 2
Reload Time = 2

## Disables infinite ammo when Brainstalks is active.
# Setting type: Boolean
# Default value: true
Use Vanilla Brainstalks Behavior = true

[11 - Primary - Scatter]

## How much damage each pellet of Scatter deals.
# Setting type: Single
# Default value: 0.8
Damage = 0.85

## How many pellets Scatter shoots.
# Setting type: UInt32
# Default value: 6
Pellets = 8

## Affects the chance and power of each pellet's procs.
# Setting type: Single
# Default value: 0.7
Proc Coefficient = 0.75

## Time between shots.
# Setting type: Single
# Default value: 0.625
Fire Rate = 0.6

## How soon you can fire another shot if you mash.
# Setting type: Single
# Default value: 0.625
Min Duration = 0.6

## Allow Scatter to be fired on an empty mag.
# Setting type: Boolean
# Default value: true
Enable Dryfire = true

## Time between shots on an empty mag.
# Setting type: Single
# Default value: 1
Dryfire Duration = 1

## Shots pierce enemies.
# Setting type: Boolean
# Default value: true
Penetrate Enemies = true

## How wide Scatter's pellets are.
# Setting type: Single
# Default value: 0.4
Shot Radius = 0.35

## Push force per pellet.
# Setting type: Single
# Default value: 200
Force = 200

## Size of the pellet spread.
# Setting type: Single
# Default value: 2.5
Spread = 2

## How hard the gun kicks when shooting.
# Setting type: Single
# Default value: 2.6
Recoil = 2.7

## How far Scatter can reach.
# Setting type: Single
# Default value: 120
Range = 120

## How many shots Scatter can hold.
# Setting type: Int32
# Default value: 5
Stock = 5

## How much time it takes to reload. Set to 0 to disable reloading.
# Setting type: Single
# Default value: 2.5
Reload Time = 2.5

## Disables infinite ammo when Brainstalks is active.
# Setting type: Boolean
# Default value: true
Use Vanilla Brainstalks Behavior = true

[20 - Secondary - Thermite Bomb]

## How much damage Thermite Bomb deals.
# Setting type: Single
# Default value: 2.7
Damage = 2.7

## Multiplier for Thermite burn damage.
# Setting type: Single
# Default value: 1
Burn Damage* = 1

## How long the burn lasts for.
# Setting type: Single
# Default value: 10
Burn Duration* = 10

## How large the explosion is.
# Setting type: Single
# Default value: 8
Radius* = 8

## Affects the chance and power of Thermite Bomb's procs.
# Setting type: Single
# Default value: 1
Proc Coefficient* = 1

## How fast the projectile travels.
# Setting type: Single
# Default value: 60
Velocity* = 60

## Duration the projectile can fly for before exploding.
# Setting type: Single
# Default value: 20
Lifetime* = 20

## Makes Thermite Bombs have an arc.
# Setting type: Boolean
# Default value: true
Use Gravity* = true

## How long it takes to throw a Thermite Bomb.
# Setting type: Single
# Default value: 0.4
Fire Rate = 0.4

## How long Thermite Bomb takes to recharge.
# Setting type: Single
# Default value: 7
Cooldown = 7

## How many Thermite Bombs you start with.
# Setting type: Int32
# Default value: 1
Stock = 1

[21 - Secondary - Acid Bomb]

## How much damage Acid Bomb deals.
# Setting type: Single
# Default value: 2.7
Damage = 2.7

## How long the Cripple debuff lasts for.
# Setting type: Single
# Default value: 5
Weaken Duration* = 7

## How large the explosion is.
# Setting type: Single
# Default value: 8
Radius* = 8

## Affects the chance and power of Acid Bomb's procs.
# Setting type: Single
# Default value: 1
Proc Coefficient* = 1

## How fast the projectile travels.
# Setting type: Single
# Default value: 60
Velocity* = 60

## Duration the projectile can fly for before exploding.
# Setting type: Single
# Default value: 20
Lifetime* = 20

## Makes Acid Bombs have an arc.
# Setting type: Boolean
# Default value: true
Use Gravity* = true

## How long it takes to throw a Acid Bomb.
# Setting type: Single
# Default value: 0.4
Fire Rate = 0.4

## How long Acid Bomb takes to recharge.
# Setting type: Single
# Default value: 7
Cooldown = 6

## How many Acid Bombs you start with.
# Setting type: Int32
# Default value: 1
Stock = 1

[22 - Secondary - Cluster Bomb]

## How much damage Cluster Bomb deals.
# Setting type: Single
# Default value: 4
Damage* = 4

## How large the explosion is.
# Setting type: Single
# Default value: 8
Radius* = 8

## Affects the chance and power of Cluster Bomb's procs.
# Setting type: Single
# Default value: 1
Proc Coefficient* = 1

## How many mini bombs Cluster Bomb releases.
# Setting type: Int32
# Default value: 6
Bomblet Count* = 6

## How much damage Cluster Bomb Bomblets deals.
# Setting type: Single
# Default value: 1.2
Bomblet Damage* = 1.2

## How large the mini explosions are.
# Setting type: Single
# Default value: 6
Bomblet Radius* = 6

## Affects the chance and power of Cluster Bomb Bomblets' procs.
# Setting type: Single
# Default value: 0.6
Bomblet Proc Coefficient* = 0.6

## How fast the projectile travels.
# Setting type: Single
# Default value: 60
Velocity* = 60

## How long it takes to throw a Cluster Bomb.
# Setting type: Single
# Default value: 0.4
Fire Rate = 0.4

## How long it takes for Cluster Bomb to recharge.
# Setting type: Single
# Default value: 7
Cooldown = 7

## How many Cluster Bombs you start with.
# Setting type: Int32
# Default value: 1
Stock = 1

[30 - Utility - Smokebomb]

## How much damage Smokebomb deals.
# Setting type: Single
# Default value: 1.5
Damage* = 1.5

## Size of the stun radius.
# Setting type: Single
# Default value: 10
Radius* = 10

## How long Smokebomb lasts.
# Setting type: Single
# Default value: 3
Duration* = 3

## Minimum amount of time Smokebomb lasts for.
# Setting type: Single
# Default value: 0.5
Minimum Duration = 0.5

## How long Smokebomb takes to recharge.
# Setting type: Single
# Default value: 8
Cooldown = 8

## How many charges Smokebomb has.
# Setting type: Int32
# Default value: 1
Stock = 1

[40 - Special - Lights Out]

## How much damage Lights Out deals.
# Setting type: Single
# Default value: 4.5
Damage = 4.5

## How much extra damage Lights Out deals for each debuff the target has.
# Setting type: Single
# Default value: 4.5
Debuff Bonus Damage* = 4.5

## Lower bound of Lights Out's Grace Period duration.
# Setting type: Single
# Default value: 1.5
Grace Period Minimum Duration* = 1.5

## Upper bound of Lights Out's Grace Period duration.
# Setting type: Single
# Default value: 4.5
Grace Period Maximum Duration* = 4.5

## Push force per shot.
# Setting type: Single
# Default value: 2400
Force = 2400

## How long it takes to aim the skill.
# Setting type: Single
# Default value: 0.6
Fire Rate = 0.6

## Delay after firing.
# Setting type: Single
# Default value: 0.2
End Lag = 0.2

## How long Lights Out takes to recharge.
# Setting type: Single
# Default value: 7
Cooldown = 7

## How many charges Lights Out has.
# Setting type: Int32
# Default value: 1
Stock = 1

## Instakill enemies that fall below this HP percentage.
# Setting type: Single
# Default value: 0
Execute Threshold* = 0

## Allow bosses to be executed by Lights Out.
# Setting type: Boolean
# Default value: false
Execute Bosses* = false

[41 - Special - Rack em Up]

## How much damage Rack em Up deals.
# Setting type: Single
# Default value: 0.75
Damage = 0.75

## How much extra damage Rack em Up deals for each debuff the target has.
# Setting type: Single
# Default value: 0.75
Debuff Bonus Damage* = 0.75

## Lower bound of Rack em Up's Grace Period duration.
# Setting type: Single
# Default value: 1
Grace Period Minimum Duration* = 1

## Upper bound of Rack em Up's Grace Period duration.
# Setting type: Single
# Default value: 4
Grace Period Maximum Duration* = 4

## How many shots are fired.
# Setting type: Int32
# Default value: 6
Total Shots = 6

## Push force per shot.
# Setting type: Single
# Default value: 100
Force = 100

## How long it takes to prepare Rack em Up.
# Setting type: Single
# Default value: 0.32
Draw Time = 0.32

## Time it takes for Rack em Up to fire a single shot.
# Setting type: Single
# Default value: 0.13
Fire Rate = 0.13

## Delay after firing all shots.
# Setting type: Single
# Default value: 0.4
End Lag = 0.4

## Size of the cone of fire.
# Setting type: Single
# Default value: 2.5
Spread = 2.5

## How far shots reach.
# Setting type: Single
# Default value: 120
Range = 120

## How long Rack em Up takes to recharge.
# Setting type: Single
# Default value: 7
Cooldown = 7

## How many charges Rack em Up has.
# Setting type: Int32
# Default value: 1
Stock = 1

## Instakill enemies that fall below this HP percentage.
# Setting type: Single
# Default value: 0
Execute Threshold* = 0

[99 -  Deprecated - Assassinate]

## How much damage Assassinate deals at no charge.
# Setting type: Single
# Default value: 2.5
Minimum Damage = 2.5

## How much damage Assassinate deals at max charge.
# Setting type: Single
# Default value: 17
Maximum Damage = 17

## How large Assassinate's shot radius is at no charge.
# Setting type: Single
# Default value: 0.4
Minimum Radius = 0.4

## How large Assassinate's shot radius is at max charge.
# Setting type: Single
# Default value: 2.4
Maximum Radius = 2.4

## Push force at no charge.
# Setting type: Single
# Default value: 600
Minimum Force = 600

## Push force at max charge.
# Setting type: Single
# Default value: 2400
Maximum Force = 2400

## How far back you are launched when firing at no charge.
# Setting type: Single
# Default value: 4500
Minimum Self Force = 4500

## How far back you are launched when firing at max charge.
# Setting type: Single
# Default value: 4500
Maximum Self Force = 4500

## How long it takes to fully charge Assassinate.
# Setting type: Single
# Default value: 1.5
Charge Duration = 1.5

## Delay after firing.
# Setting type: Single
# Default value: 0.5
End Lag = 0.5

## Zoom-in FOV when charging Assassinate. -1 disables.
# Setting type: Single
# Default value: -1
Zoom FOV = -1

## How long it takes Assassinate to recharge
# Setting type: Single
# Default value: 5
Cooldown = 5

## How many charges Assassinate has.
# Setting type: Int32
# Default value: 1
Stock = 1

## Max barrier on hit percent at full charge.
# Setting type: Single
# Default value: 0.07
Barrier Percent = 0.07

