### configVersion = 5

[General]

# Enable/disable the StartingItemsGUI mod
#
# Setting type: Boolean
# Default value: True
enabled = true

# Enable/disable the EarntConsumable mode
#
# Setting type: Boolean
# Default value: True
earntConsumable = True

# Enable/disable the EarntPersistent mode
#
# Setting type: Boolean
# Default value: True
earntPersistent = True

# Enable/disable the FreePersistent mode
#
# Setting type: Boolean
# Default value: True
freePersistent = True

# Enable/disable the Random mode
#
# Setting type: Boolean
# Default value: True
random = True

# Whether items must be discovered to show up in the menu
#
# Setting type: Boolean
# Default value: True
discoveredRequired = True

# Enable/disable showing all items mod
# When enabled all items and equipment will be listed, even those which the player has not unlocked and discovered
#
# Setting type: Boolean
# Default value: False
showAllItems = false

# Enable/disable whether players can receive items that cannot currently drop
#
# Setting type: Boolean
# Default value: False
onlyGiveDroppable = False

# The mode currently in use
# 0 is EarntConsumable, 1 is EarntPersistent and 2 is FreePersistent
#
# Setting type: Integer
# Default value: 0
mode = 2

# Whether credits are earnt by killing endgame bosses (Lunar Scav & Mithrix), by clearing stages or by how games end
# 0 is stages, 1 is bosses and 2 is ending
#
# Setting type: Integer
# Default value: 1
earningMethod = 1

[Prices]

# How many credits are awarded for killing a Lunar Scav
#
# Settings type: Integer
# Default value: 40
lunarScavCredits = 40

# How many credits are awarded for killing a Mithrix
#
# Settings type: Integer
# Default value: 60
mithrixCredits = 60

# How many credits a common item costs
#
# Setting type: Integer
# Default value: 40
tier1Price = 40

# How many credits an uncommon item costs
#
# Setting type: Integer
# Default value: 100
tier2Price = 100

# How many credits a rare item costs
#
# Setting type: Integer
# Default value: 400
tier3Price = 400

# How many credits a boss item costs
#
# Setting type: Integer
# Default value: 550
bossPrice = 550

# How many credits a lunar item costs
#
# Setting type: Integer
# Default value: 750
lunarPrice = 750

# How many credits equipment costs
#
# Setting type: Integer
# Default value: 350
equipmentPrice = 350

# How many credits lunar equipment costs
#
# Setting type: Integer
# Default value: 750
lunarEquipmentPrice = 750

# How many credits elite equipment costs
#
# Setting type: Integer
# Default value: 1000
eliteEquipmentPrice = 1000

[Credit Multipliers EarntConsumable]

# The multiplier for how many EarntConsumable credits to award for a win
#
# Setting type: Float
# Default value: 3
winMultiplierConsumable = 3

# The multiplier for how many EarntConsumable credits to award for a loss
#
# Setting type: Float
# Default value: System.Collections.Generic.List`1[System.String]
lossMultiplierConsumable = 1.5

# The multiplier for how many EarntConsumable credits to award for an obliteration
#
# Setting type: Float
# Default value: 2
obliterationMultiplierConsumable = 2

# The multiplier for how many EarntConsumable credits to award for limbo
#
# Setting type: Float
# Default value: 2.5
limboMultiplierConsumable = 2.5

# The multiplier for how many EarntConsumable credits to award on easy
#
# Setting type: Float
# Default value: 2
easyMultiplierConsumable = 2

# The multiplier for how many EarntConsumable credits to award on normal
#
# Setting type: Float
# Default value: 4
normalMultiplierConsumable = 4

# The multiplier for how many EarntConsumable credits to award on hard
#
# Setting type: Float
# Default value: 8
hardMultiplierConsumable = 8

[Credit Multipliers EarntPersistent]

# Whether users should be awarded credits for previously play
#
# Setting type: Boolean
# Default value: False
pastPlay = False

# The multiplier for how many EarntPersistent credits to award for previously completed stages
#
# Setting type: Float
# Default value: 1
defaultStagesMultiplier = 1

# The multiplier for how many EarntPersistent credits to award for previously games
#
# Setting type: Float
# Default value: 4
defaultResultMultiplier = 4

# The multiplier for how many EarntPersistent credits to award for a win
#
# Setting type: Float
# Default value: 2.5
winMultiplierPersistent = 2.5

# The multiplier for how many EarntPersistent credits to award for a loss
#
# Setting type: Float
# Default value: 1
lossMultiplierPersistent = 1

# The multiplier for how many EarntPersistent credits to award for an obliteration
#
# Setting type: Float
# Default value: 1.5
obliterationMultiplierPersistent = 1.5

# The multiplier for how many EarntPersistent credits to award for limbo
#
# Setting type: Float
# Default value: 2
limboMultiplierPersistent = 2

# The multiplier for how many EarntPersistent credits to award on easy
#
# Setting type: Float
# Default value: 1
easyMultiplierPersistent = 1

# The multiplier for how many EarntPersistent credits to award on normal
#
# Setting type: Float
# Default value: 2
hardMultiplierPersistent = 2

# The multiplier for how many EarntPersistent credits to award on hard
#
# Setting type: Float
# Default value: 4
itemsPurchasedPersistent = 4

# The amount of EarntPersistent credits available
# The amount of EarntPersistent credits available will not grow as the player plays, it will stay locked to this amount
# The amount of EarntPersistent credits a player has earned will continue to grow behind the scenes
# If this value is smaller than 0 the EarntPersistent credits will function normally
#
# Setting type: Integer
# Default value: -1
earntPersistentCreditsLocked = -1

[Random]

# The way in which credits are allocated for the Random mode
# 0 is to use randomCreditsLocked, 1 is to use the credits from EarntPersistent mode
#
# Setting type: Integer
# Default value: 0
randomCreditsMethod = 0

# The credits allocated to Random mode
#
# Setting type: Integer
# Default value: 1000
randomCreditsLocked = 1000